/* .text{
    background-color: blue;
} */

.link{
    font-size: 200px;
}
.size{
    font-size: 25px;
    background-color: blue;
}
.header{
    font-size: 40px;
    background-color: pink;
}

.newHeader{
      background-color: pink;
}

.button-style{
    width: 60px;
    height: 30px;
}

.btn{
    width: 500px;
    height: 200px;
}
.btn-off{
    width: 500px;
    height: 200px;
}
.add{
    width: 500px;
    height: 200px;
}
.header{
    background-color: pink;
}