/* .text{
    background-color: blue;
} */

.link{
    font-size: 200px;
}
.size{
    font-size: 25px;
    background-color: blue;
}
.header{
    font-size: 40px;
    background-color: pink;
}

.newHeader{
      background-color: pink;
}

.button-style{
    width: 60px;
    height: 30px;
}

.btn{
    width: 100px;
    height: 50px;
}
.p{
    width: 100px;
    height: 50px;
    outline: solid black 1px;
}
.btn-off{
    width: 500px;
    height: 200px;
}
.add{
    width: 500px;
    height: 200px;
}
.header{
    background-color: pink;
}

.hidden{
    display: none;
}

.box{
    width: 200px;
    height: 201px;
}

 .block {
  width: 100px;
  height: 100px;
  background-color: red;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.info {
    outline: solid black 1px;
    display: block;
}
.current-key {
    outline: solid black 1px;
    display: block;
}